/* ==========================================================================
Colors
========================================================================== */
/*
* Declare colors for the template
*/

$botton-color: #868686;
$botton: #E7E42C;
$background-dark: #535353;
$icon: #FFDE00;
$parragraph-light: #A1A1A1;
$parragraph-dark: #727272;
$link-dark: #3C3C3C;
$hover-light: rgba(137, 137, 137, 0.9);
$hover: rgb(137, 137, 137);
$highlight: #E7612C;