.logo-img {
	max-width: 115px;
}

.header {
	padding: 60px 0;
	color: #fff;
	background-color: $background-dark;
}

.title {
	margin: 15px 0;
	color: #535353;
	font-weight: 400;
	font-size: 70px;
	text-align: center;
}

.center {
	text-align: center;
}

.middle {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.section-overlay {
	padding: 30px 0;
	position: relative;
	.texture-overlay {
		z-index: -1;
	}
}

.service-select, .car-select {
	&:hover {
		cursor: pointer;
		h1 {
			color: $icon;
		}

	}
	.service-content {
		h1 {
			font-size: 18px;
		}
	}
	.feature-icon {
		margin-right: 0;
	}
}

.car-content {
	h1 {
		line-height: 24px;
	}
}

.service-icon {
	border-color: $link-dark !important;
	i {
		color: $link-dark !important;
	}
}

.service-container {
	margin: 15px 0;
}

.c-yellow {
	color: $icon !important;
}

.time-container, .pay-cointainer {
	.button--tamaya {
		min-width: 150px;
	}
}

.b-orange::before, .b-orange::after {
	background: $highlight !important; 
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.input-append .add-on, .input-prepend .add-on {
    display: inline-block;
    width: auto;
    // height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border: 1px solid #ccc;
}

.label-form {
	display: inline-block;
	font-size: 20px;
}

.label-form-one {
	font-size: 20px;
}

.label-cost {
	font-size: 50px;
}

.date {
	display: inline;
}

.payment {
	display: none;
}

@media (min-width: 768px) {
	.input--nariko {
		max-width: 500px;
	}
}